<!-- <div class="container">
  <section class="homepage">
    <h1>Welcome to plumbers booking homepage </h1>
    <h2>Book a plumber</h2>
    <p><a ui-sref="register">register</a></p>
    <p><a ui-sref="login">login</a></p>
  </section>
</div> -->


<!-- <div ng-controller="CarouselDemoCtrl as home" id="slides_control">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in home.slides" active="home.slide.active">
        <img ng-src="{{slide.home.image}}">
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>
</div> -->

<section class="homepage">
  <div class="welcome">
    <div class="shader"></div>
    <div class="centered">
      <h1>Plumbers</h1>
      <button class="btn btn-primary" ui-sref="register">Register</button>
      <button class="btn btn-primary" ui-sref="login">Login</button>
    </div>
  </div>
  <div class="info container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <h4>Caption</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h4>Caption</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h4>Caption</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</section>
