<section class="login">
  <form class="container" id="second-container" ng-submit="login.login()">
    <h1>Login</h1>
    <div class="form-group">
      <label for="email" class="fonts">Email:</label>
      <input type="email" class="form-control" name="email" ng-model="login.user.email" placeholder="Email" class="input-field" required>
    </div>
    <div class="form-group">
      <label for="pwd" class="fonts">Password:</label>
      <input type="password" class="form-control" name="password" ng-model="login.user.password" placeholder="Password" class="input-field" required>
    </div>
    <hr>
    <input class="btn btn-success form-control" type="submit" value="Login">
  </form>
</section>
