@import "bower";

* {
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  margin: 0 auto;
}
h1 {
  margin: 0;
  padding: 0;
}
.navbar {
  margin-bottom: 0px;
}
section {
  width: 100%;
  height: 115vh;
}
.shader {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.register, .login {
  background-color: #34515e;
  color: #fff;
}
.plumberPage {
  background-color: #34515e;
  color: #fff;
}
.bookPage {
  background-color: #34515e;
  color: #fff;
}
.homepage {
  text-align: center;

  .welcome {
    color: #fff;
    position: relative;
    background: url(http://www.abbevilleplumbing.com/img/grosse-pointe-plumbing-company.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    h1 {
      font-size: 150px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h4 {
      font-size: 40px;
    }
  }
  .info {
    margin-top: 25px;
  }
}
form {
  margin: 0px auto;
  width: 600px !important;
  h1 {
    font-weight: 700;
    font-size: 45px;
  }
  label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
  }
  input {
    margin-bottom: 5px;
    border-radius: 0px !important;
    .form-control {
      display: block;
      width: 100%;
      height: 40px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
  }
}
button.btn.btn-primary {
  padding: 14px 44px;
  border-radius: 0;
  margin: 0 5px;
  font-weight: 150;
  font-size: 20px;
}
button.btn.btn-success {
  border-radius: 0px;
  border: 0px;
  margin-left: 24px;
  padding: 13px;
font-size: 22px;
}
button.btn.btn-success {
  padding: 13px;
font-size: 22px;
margin-left: 0px;
padding: 13px 27px;
}
.caption {
  font-size: 32px;
}
.paragraph {
  font-size: 18px;
}
#wrench-icon {
  background: url("../images/wrench.png") no-repeat;
}
#valve-icon {
  background: url("../images/valve.png") no-repeat;
}
#tap-icon {
  background: url("../images/tap.png") no-repeat;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background: #332a2a;
  color: white;
}
.events {
  text-align: center;
}
.users-index {
  list-style: none;
  li {
    list-style: none;
  }
}
.userFonts {
  font-size: 20px;
  color: #fff;
}
.nav-text {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
}
.navbar-brand {
  text-transform: uppercase;
  font-size: 20px;
}
#profiles {
  h1 {
    margin: 0;
    padding: 0;
  }
}
.profileImages {
  margin-top: 10px;
}
.container {
  text-align: center;
}
.left {

  img {
    width: 300px;
  }
}
#eventsButton {
  margin: 0 auto;
  text-align: center;
}
#header {
  text-align: center;
  padding: 15px;
}
.userFonts, a {
    color: #d7d7d7;
    &:hover {
      color: white;
    }
}
