<!-- <div class="container">
  <section class="homepage">
    <h1>Welcome to plumbers booking homepage </h1>
    <h2>Book a plumber</h2>
    <p><a ui-sref="register">register</a></p>
    <p><a ui-sref="login">login</a></p>
  </section>
</div> -->


<!-- <div ng-controller="CarouselDemoCtrl as home" id="slides_control">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in home.slides" active="home.slide.active">
        <img ng-src="{{slide.home.image}}">
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>
</div> -->

<section class="homepage">
  <div class="welcome">
    <div class="shader"></div>
    <div class="centered">
      <h1>Plumbers</h1>
      <button class="btn btn-primary" ui-sref="register">Register</button>
      <button class="btn btn-primary" ui-sref="login" id="login">Login</button>
    </div>
  </div>
  <div class="info container">
    <div class="row" id="content">
      <div class="col-lg-4 col-md-12">
        <h4 class="caption" id="wrench-icon">Qualified Plumbers</h4>
        <p class="paragraph">
          We are based in London, and provide excellent plumbing services and fix more than simple leaks, repairs or unblocking yours drains. Our team is exceptionally reliable and well qualified to fix all of your problems.
        </p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h4 class="caption" id="valve-icon">Experts</h4>
        <p class="paragraph">
          No more need to worry about phoning and waiting for a receptionist to book you in for a repair. Just use our simple online booking service now! All you have to do is choose a time and a day and our qualified plumber we'll be on their way.
        </p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h4 class="caption" id="tap-icon">24 Hour Services</h4>
        <p class="paragraph">
          We have an exceptional 24hour service, and offer excellent rates. Our rates are flexible, also you can choose from a list of one of our qualifed plumbers all in the comfort of your own home.
        </p>
      </div>
    </div>
  </div>
</section>
<footer class="site-footer">
  <!-- <p class="copy">
    Ryan &copy; 2016 Plumbers .
  </p> -->
</footer>
<!-- <footer class="">
<p>
  sadfnasofdos oa asfsaf
</p>
</footer> -->
