<h1>Register</h1>
<h2>Sign up to book a plumber</h2>
<form ng-submit="register.register()">
  <div class="form-group" >
    <label for="email">Username:</label>
    <input class="form-control" type="text" name="username" ng-model="register.user.username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email">Upload image:</label>
    <input class="form-control" type="text" name="profilePicture" ng-model="register.user.profilePicture" placeholder="Image">
  </div>
  <div class="form-group">
    <label for="email">Bio:</label>
    <input class="form-control" type="text" name="bio" ng-model="register.user.bio" placeholder="Bio">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="email">Rate:</label>
    <input class="form-control" type="number" name="rate" ng-model="register.user.rate" placeholder="Rate">
  </div>
  <div class="form-group">
    <label for="email">Company Name:</label>
    <input class="form-control" type="text" name="company_name" ng-model="register.user.company_name" placeholder="Company Name">
  </div>
  <div class="form-group">
    <label for="email">Borough:</label>
    <input class="form-control" type="text" name="borough" ng-model="register.user.borough" placeholder="Borough">
  </div>
  <div class="form-group">
    <label for="email">Password:</label>
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="email">Confirm Password:</label>
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
