<section class="register">
  <form class="container"ng-submit="register.register()">
    <h1>Register</h1>
    <div class="form-group">
      <label for="email" class="fonts">Username:</label>
      <input type="text" class="form-control" name="username" ng-model="register.user.username" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Upload image:</label>
      <input type="text" class="form-control" name="profilePicture" ng-model="register.user.image" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">First Name:</label>
      <input type="text" class="form-control" name="bio" ng-model="register.user.first_name" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Bio:</label>
      <input type="text" class="form-control" name="bio" ng-model="register.user.bio" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Email:</label>
      <input type="email" class="form-control" name="email" ng-model="register.user.email" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Rate:</label>
      <input type="number" class="form-control" name="rate" ng-model="register.user.rate" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Company Name:</label>
      <input type="text" class="form-control" name="company_name" ng-model="register.user.company_name" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Borough:</label>
      <input type="text" class="form-control" name="borough" ng-model="register.user.borough" class="input-field">
    </div>
    <div class="form-group">
      <label for="email"class="fonts">Password:</label>
      <input type="password" class="form-control" name="password" ng-model="register.user.password" class="input-field">
    </div>
    <div class="form-group">
      <label for="email" class="fonts">Confirm Password:</label>
      <input type="password" class="form-control" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" class="input-field">
    </div>
    <hr>
    <input class="btn btn-success form-control" type="submit" value="Submit" />
  </form>
</section>
